/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  width: 70em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#test {
  visibility: hidden;
}

#score {
  //visibility: hidden;
}

.qa {
  display: inline;
}